<a href="https://colab.research.google.com/github/19pa1a05b5/NLP/blob/main/EXPERMINET_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#importing regular expressions
import re

**1. Replace all occurrences of 5 with ‘five’ for the given string**

In [ ]:
#Sample String
Str="I have been working for 5 hours for 5 days in a week to clear my 5 subjects."

#Replacing all occurences of 5 with "five" in the string
Str.replace('5', 'five')

'I have been working for five hours for five days in a week to clear my five subjects.'

**2. For the given list, filter all elements that do not contain ‘e’.**

In [22]:
#List of planets
planets=['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

#Planets do not contain letter 'e'
[i for i in planets if not re.search('e', i, flags=re.I)]

['Mars', 'Saturn', 'Uranus']

**3. For the given input string, display all lines not containing ‘start’ irrespective of case.**

In [26]:
#String with multiple lines
para='''Start hello world line1
hello world line2
hello world line3 start
hello world line4
sTaRt line 5'''

#Displaying all lines not containing "start" irrespective of case.
for l in para.split('\n'):
  if not re.search('start', l, flags=re.I):
    print(l)

hello world line2
hello world line4

**4. For the given input list, filter all elements that contains 42 surrounded by word characters.**

In [58]:
ele=['asd42', 'hca42dgc', 'ad42@hjaj', 'k42p', '1faf2sdc45', '142o']

[i for i in ele if re.search('\w[4][2]\w', i)]

['hca42dgc', 'k42p', '142o']

**5. Validate the CVV number(It should have 3 or 4 digits, It should have a digit between 0-9, It should not have any alphabets and special characters)**

In [25]:
cvv1='4567'
cvv2='656'
cvv3='er5y'

def validate(cvv):
  if re.search('^[0-9]{3,4}$', cvv):
    return True
  return False

print(validate(cvv1))
print(validate(cvv2))
print(validate(cvv3))

True
True
False

**6. For the given input string, change whole word mall to 1234 only if it is at the start of a line**

In [54]:
Str='''kmall
mall is open
he went to mall'''

print(re.sub('^mall', '1234', Str, flags=re.M))

kmall
1234 is open
he went to mall

**7. Check whether the given email address is valid or not.**

In [63]:
email='19pa1a05b5@gmail.com'

def valid_email(x):
  if re.search('^[a-z0-9]+[\._]?[ a-z0-9]+[@]\w+[. ]\w{2,3}$',x):
    return True
  return False

print(valid_email(email))

True

**8. Check whether the Aadhar number is valid or not ( It should have 12 digits, It should not start with 0 and 1, It should not contain any alphabet and special characters, It should have white space after every 4 digits)**

In [62]:
Aadhar1='2345 3456 4567'
Aadhar2='1234 2345 3456'
Aadhar3='23456 345 4567'
Aadhar4='4567 45675675'

def validAadhar(x):
  if re.search(r'^[2-9][0-9]{3}[" "][0-9]{4}[" "][0-9]{4}', x):
    return True
  return False

print(validAadhar(Aadhar1))
print(validAadhar(Aadhar2))
print(validAadhar(Aadhar3))
print(validAadhar(Aadhar4))

True
False
False
False